@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset styles */
* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: -10px auto; 
    text-align: center;
}

.heading-container {
    margin-bottom: 20px;
    text-align: center;
}

.buttons {
    margin-bottom: 20px;
    border-radius: 26px;
}

.box-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 20px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: rgb(5, 150, 199);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.highlight {
    background-color: rgb(216, 23, 23);
    color: black;
}

.step-heading {
    font-size: 20px;
    margin-bottom: 10px;
    display: block; 
}

.btn {
    margin: 5px;
    display: inline-block;
    width: 90px; 
    height: 42px; 
    text-align: center;
    background-color: #007bff; 
    color: #fff;
    border-radius: 26px;
}

.btn:hover {
    background-color: #000000; 
}

h1 {
    font-size: 40px;
    text-align: center;
}

.header {
    background-color: #101820;
    color: #fff;
    padding: 8.5px 0;
    text-align: center;
}
 #arrayForm label, #arrayForm input, #arrayForm button { 
     margin-bottom: 10px; 
 } 


 #arrayForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}